/*----
	Author: W3layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
---*/
html,body{
	font-family: 'Lato', sans-serif;
}
.clear{
	clear:both;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
body input[type="text"],body input[type="submit"],body textarea,body input[type="button"]{
	-webkit-appearance:none;
}
/*------ HEADERBG STARTS---------*/
.headerbg{
	background: url(../images/bannerbg.png);
	min-height:700px;
	width:100%;
	background-size:cover;
}
/*------ HEADER STARTS---------*/
.header1{
	background:rgba(0, 0, 0, 0.24);
}
/*------new  HEADER STARTS---------20150718*/
.container_header{
  padding-right: 15px;
  padding-left: 15px;
  margin-right: autoheaderbg;
  margin-left: auto;
}
.header{
	background:url(../images/bannerbg.png) no-repeat 0px 0px;
	background-size:cover;
	min-height:750px;
	position:relative;
}
.menu{
	
}
.menu ul{
	margin: 4em 0 0 25em;
	padding: 0;
}
.menu ul li{
	display:inline-block;
}
.menu ul li a{
	color:#FFF;
	font-weight:400;
	text-transform:uppercase;
	font-size:1.1em;
	margin:0 5em;
	display:block;
	text-decoration:none;
}
.menu ul li a:hover{
	color:#c59a6d;
}
span.menu-icon{
	width: 42px;
	height: 42px;
	display: inline-block;
	background: url(../images/nav-icon.png) no-repeat 0px 0px;
	position: absolute;
	top: 40px;
	left:90px;
	cursor: pointer;
}
.header-info{
	width: 30%;
	position: absolute;
	top: 220px;
	left: 40%;
}
.header-info h2{
	color:#F7BA01;
	font-size:2em;
	text-transform:uppercase;
	font-weight:400;
	margin:0 0 0.5em 1.2em;
	padding:0;
	font-family: 'Asap', sans-serif;
}
.header-info span{
	background: #8C868A;
	height:1px;
	width:22%;
	display:inline-block;
	vertical-align:middle;
}
.header-info h1{
	font-weight:700;
	color:#FFF;
	font-size:3.5em;
	margin:1em 0 2em 0;
	padding:0;
}

/*-- /header --*/
/*-- intro --*/
.intro{
	padding:4em 0;
}
.head-section{
	
}
.head-section h2{
	color:#424a51;
	text-transform:uppercase;
	font-weight:700;
	font-size:1.8em;
	margin:0 0 0.4em 0;
	padding:0
}
.head-section span{
	height:2px;
	width:7%;
	background:#c59a6d;
	display:inline-block;
}
label.downarrow1{
	width:24px;
	height:24px;
	display:inline-block;
	background:url(../images/downarrow1.png) no-repeat 0px 0px;
	cursor:pointer;
}
.intro p{
	color: #424a51;
	font-weight: 400;
	font-size: 1.3em;
	width: 80%;
	margin: 1em auto 2em auto;
	line-height: 1.8em;
	font-family: 'Asap', sans-serif;
}



/*------ CONTAINER STARTS---------*/
.container{
	width:70%;
}
.container1{
	width:100%;
}

.bannerhead{
	float:right;
}
.bannerhead h2{
	color: #C5B7B8;
	margin:0;
	padding:0;
}
.bannerhead h2 span{
	color:#ffc000;
	font-weight:bolder;
	font-size:1.2em;
}
.bannerhead h3{
	color:#F1E9F2;
	font-weight:bolder;
    font-size:1.5em;
	padding: 0 0 0.5em 0;
}
.bannerhead p{
    color:#F1E9F2;
	font-size:1.2em;
}
a.downarrow  span{
 	height:48px;
    width:48px;
    background:url(../images/down.png);
    display:inline-block;
}
a.downarrow{
  	display: block;
	position: absolute;
	top: 400px;
	left: 17%;
}
.bannerhead{
	position: relative;
	width: 90%;
}
.banner-info{
	position: relative;
	top: 182px;
	left: 11%;
}
/*------ About STARTS---------*/
.about{
	color:white;
	text-align:center;
	background:#281D24;
}
.header-section h2{
	color: #ffc000;
	font-weight: 300;
	margin-top: 2.5em;
	margin: 0;
	padding: 2em 0 1em 0;
}
.header-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.header-section span:nth-child(1){
	margin-right:10px;
}
.header-section span:nth-child(2){
	margin-left:10px;
}
.about span p{
	color: gray;
	line-height: 2em;
	margin-bottom: 4em;
	width: 71%;
	margin: 0 auto;
}

.years{
	margin-bottom:4em;
	color:#F1F0F0;
}
.years p{
	padding-top:1em;
	line-height:2em;
	width: 45%;
	margin:0 auto;
}
.labs p{
	width: 50%;
	margin: 0 auto;
}
.years h4,.years span h4{
	margin-top:1em;
}
.arrow span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
}
a.arrow{
	margin:2em 0 4em 0;
	display:inline-block;
}
/*------Skill-Section STARTS---------*/
.skills{
	min-height:630px;
	background:#281D24;
	position:relative;
}
.skill-section h2{
	color:#FFC000;
	font-weight:300;
	margin-top:2.5em;
}
.skill-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.skill-section span:nth-child(1){
	margin-right:10px;
}
.skill-section span:nth-child(2){
	margin-left:10px;
}
.skill-grids{
	padding:3em 0;
}
.skill-grid h3{
	color:#FFF;
	font-size:1.5em;
}
#canvas{
	position:relative;
}
.down span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
}
a.down{
	padding:4em 0 0 2em;
	display:inline-block;
	position: absolute;
    left:46%;
}
/*------Skill-Section Ends---------*/
/*------Portfolio-Section STARTS---------*/
.Portfolio{
	min-height:512px;
	background:#EFEEEF;
	text-align:center;
}
.Portfolio-section h2{
	color:#997211;
	font-size:2em;
	padding:2em 0 1em;
	margin: 0;
}
.Portfolio-section span{
	background:#8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.Portfolio-section span:nth-child(1){
	margin-right:10px;
}
.Portfolio-section span:nth-child(2){
	margin-left:10px;
}
.portfolio-grids{
	padding-top:2em;
}
.portfolio-grid{
	display:inline-block;
}
.portfolio-grid p{
	margin:3em 1em 0 1em;
	color:#504A4C;
	line-height:25px;
}
.portfolio-grid img{
	width:100%;
}
a.rightarrow  span{
	height:30px;
	width:30.5px;
	background:url(../images/rightarw.png);
	display:inline-block;
}
a.rightarrow{
	margin-top:1em;
	display:inline-block;
}
.portdown span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
	}
a.portdown{
	margin:4em 0 3em 1em;
	display:inline-block;
	}
	
	/*-- video --*/
.video{
	background:url(../images/video-bg.png) no-repeat 0px 0px;
	min-height:400px;
	background-size:cover;
	text-align:center;
	position:relative;
}
a.play span{
	width:64px;
	height:64px;
	display:inline-block;
	background:url(../images/paly-icon.png) no-repeat 0px 0px;
	position:absolute;
	top:43%;
	left:48%;
}
a.play span:hover{
	opacity:0.8;
}
	
/*------FOOTER STARTS---------*/
.footer{
	background: url(../images/twitts-bg.jpg);
	position: relative;
	min-height: 567px;
	background-size: cover;
	position:relative;
}
.contact-section h2{
	color:#ffc000;
	font-weight:300;
	font-size:2em;
	padding-top:1em;
}
.contact-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.contact-section span:nth-child(1){
	margin-right:10px;
}
.contact-section span:nth-child(2){
	margin-left:10px;
}
.footer-left{
	margin-top:1em;
	margin-left:3em;
}
.social-icons{
}
.social-icons a img{
	margin-right:0.5em;
}
.social-icons a img:hover{
	opacity:0.8;
}
.footer-left p{
	color:#B5A9B7;
	width:80%;
	margin:2em 0 0 0em;
	line-height:2em;
}
.footer-right{
	text-align: right;
	margin-top: 1.3em;
}
.footer-right input[type="text"],.footer-right textarea{
	background:#170F12;
	color:#B5A9B7;
	padding: 0.6em 0.1em;
	width:100%;
	margin-bottom:1em;
	outline:none;
	border: solid 1.5px;
	border-color:#9A9A9A #EEEEEE #EEEEEE #9A9A9A;
}
.footer-right textarea {
	min-height:120px;
	resize:none;
}
.footer-right textarea{
	color:#B5A9B7;
}
.footer-right input[type="submit"]{
	text-align:center;
	float:right;
	color:#D2D1D1;
	font-size:1.2em;
	outline:none;
	padding:0.3em 1em;
	border:1px solid #B8ABAB;
	background:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.footer-right input[type="submit"]:hover{
	border-color:#FFF;
	color:#FFF;
}
.up{
	position:absolute;
	bottom: 9%;
    left: 49%;
}
.up span{
	height:48px;
	width:48px;
	background:url(../images/up.png);
	margin-top:2em;
	display:inline-block;
}
/*---- copy-right -----*/
.copyright{
width:100%;
height:50px;
background-color:#281D24;
}

copy-right{
	margin-top:0em;
	color:#030102;
	font-size:0.8em;
	padding:0.8em 0;
	text-align:center;
	background-color:#777779;
	}
copy-right a{
	color:#FFF;
	text-decoration:none;
}
.copyright p {
  padding:1.5em 0;
  letter-spacing: 0.20em;
  text-align: center;
  font-size: 0.80em;
  color: rgba(255,255,255,0.3);
/***------timeline--------**/
ul.timeline {
           list-style-type: none;
           background: url("../images/version_line.png") repeat-y scroll 120px 0 transparent;
            margin: 50px 0;
             padding: 0;
        }
    
          ul.timeline li {
            position: relative;
            margin-bottom: 20px;
       }
        ul.timeline li .time {
           position: absolute;
           width: 90px;
          text-align: right;
            left: 0;
           top: 10px;
           color: #999;
       }
        ul.timeline li .version {
           position: absolute;
           width: 290px;
           text-align: right;
           left: -200px;
            top: 30px;
            font-size: 40px;
            line-height: 50px;
            color: #3594cb;
           overflow: hidden;
        }
        ul.timeline li .number {
           position: absolute;
            background: url("../images/version_dot.png") no-repeat scroll 0 0 transparent;
            width: 56px;
             height: 56px;
           left: 97px;
            line-height: 56px;
            text-align: center;
            color: #fff;
            font-size: 18px;
         }
        ul.timeline li.alt .number {
             background-image: url("../images/version_dot_alt.png");
         }
         ul.timeline li .content {
            margin-left: 180px;
            
         }
        ul.timeline li .content pre {
            background-color: #3594cb;
            padding: 20px;
            color: #fff;
            font-size: 13px;
          line-height: 20px;
        }
        ul.timeline li.alt .content pre {
            background-color: #43B1F1;
       }
 
 /*----- picshow -----*/
 
 .slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }

    a.slidesjs-next,
    a.slidesjs-play,
	a.slidesjs-previous,
    a.slidesjs-stop {
      background-image: url(../images/btns-next-prev.png);
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
     background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    slides a:link,
    slides a:visited {
      color: #333
    }

    slides a:hover,
    slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
  <!-- End SlidesJS Optional-->
 
 /*----- picshow -----*/
 
 
 /*----- top-top -----*/
@media (max-width:1280px){
 	.years p {
		width: 60%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
}
@media (max-width:1024px){
	.container {
		width:80%;
	}
 	.years p {
		width: 80%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
	.banner-info {
		width: 80%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 87%;
	}
	.headerbg {
		min-height: 591px;
	}
	.banner-info {
		top: 110px;
	}
	a.downarrow {
		top: 341px;
		left: 23%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 1.2em 0 0.8em 0;
	}
}
@media (max-width:768px){
	.container {
		width:80%;
	}
 	.years p {
		width: 80%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
	.banner-info {
		width: 80%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
	}
	.headerbg {
		min-height:500px;
	}
	.banner-info {
		top: 112px;
		width: 100%;
		left: 2%;
	}
	a.downarrow {
		top: 241px;
		left: 32%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 1.2em 0 0.8em 0;
	}
	.bannerhead {
		width: 84%;
	}
	.banner {
		width: 100%;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1.5em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 47%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 1.5em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 2em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
	}
	.footer {
		padding: 0 0 10em;
	}
}
@media (max-width:640px){
	.container {
		width:80%;
	}
 	.years p {
		width: 100%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
	.banner-info {
		width: 80%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
	}
	.headerbg {
		min-height:500px;
	}
	.banner-info {
		top: 112px;
		width: 100%;
		left: 2%;
	}
	a.downarrow {
		top: 241px;
		left: 32%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 1.2em 0 0.8em 0;
	}
	.bannerhead {
		width: 84%;
	}
	.banner {
		width: 100%;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1.5em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 47%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 1.5em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 2em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
	}
	.footer {
		padding: 0 0 10em;
	}
	.about span p {
		margin-bottom: 2em;
	}
	.nav ul{
		margin:0;
		padding:0;
	}
	.nav ul li {
		margin: 1.2em 0.5em;
	}
	.logo {
		margin: 0.3em 0 0.5em 0em;
	}
	.bannerhead h3 {
		font-size: 2em;
		margin: 0.3em 0 0.3em;
	}
}
@media (max-width:480px){
	.container {
		width:90%;
	}
 	.years p {
		width: 100%;
		line-height: 1.6em;
		padding: 0.5em 0 0 0;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 100%;
		margin: 0.8em 0 0 0;
	}
	.banner-info {
		width: 80%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
	}
	.headerbg {
		min-height: 457px;
	}
	.banner-info {
		top: 36px;
		width: 100%;
		left: 0%;
		text-align: center;
	}
	a.downarrow {
		top: 201px;
		left: 42%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 0.8em 0 0.5em 0;
		line-height:1.5em;
	}
	.bannerhead {
		width: 100%;
	}
	.banner {
		width: 100%;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1.5em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 45%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 0.5em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 1em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
	}
	.footer {
		padding: 0 0 6em;
	}
	.about span p {
		margin-bottom: 2em;
		width: 100%;
		line-height: 1.6em;
	}
	.nav ul{
		margin:0;
		padding:0;
	}
	.nav ul li {
		margin: 0.8em 0.5em;
	}
	.logo {
		margin: 0.8em 0 0em 0em;
		float:none;
		text-align:center;
	}
	.bannerhead h3 {
		font-size: 1.6em;
		margin: 0.3em 0 0.3em;
	}
	.nav {
		float: none;
		text-align:center;
	}
	.bannerlogo {
		float: none;
		margin-top: 0em;
		text-align: center;
	}
	.skill-grid h3 {
		font-size: 1.5em;
	}
	.up {
		bottom: 1%;
		left: 47%;
	}
}
@media (max-width:320px){
	.container {
		width:90%;
	}
	.header div.container,.banner div.container{
		padding:0;
	}
 	.years p {
		width: 100%;
		line-height: 1.6em;
		padding: 0.5em 0 0 0;
	}
	.portfolio-grid p {
		margin: 1.2em 0em 0 0em;
		line-height: 1.5em;
	}
	.footer-left p {
		width: 100%;
		margin: 0.8em 0 0 0;
	}
	.banner-info {
		width: 80%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
		padding: 0.8em;
	}
	.headerbg {
		min-height: 409px;
	}
	.banner-info {
		top: 36px;
		width: 100%;
		left: 0%;
		text-align: center;
	}
	a.downarrow {
		top: 171px;
		left: 42%;
	}
	.years {
		margin-bottom: 1.5em;
	}
	.header-section h2 {
		padding: 0.8em 0 0.5em 0;
		line-height:1.5em;
		font-size: 1.6em;
	}
	.about div.container{
		padding:0;
	} 
	.bannerhead {
		width: 100%;
	}
	.banner {
		width: 100%;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 45%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 0.5em;
		font-size: 1.6em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 1em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
		font-size: 1.6em;
	}
	.footer {
		padding: 0 0 6em;
	}
	.about span p {
		margin-bottom: 2em;
		width: 100%;
		line-height: 1.6em;
	}
	.nav ul{
		margin:0;
		padding:0;
	}
	.nav ul li {
		margin: 0.5em 0.2em;
	}
	.logo {
		margin: 0.8em 0 0em 0em;
		float:none;
		text-align:center;
	}
	.bannerhead h3 {
		font-size: 1.4em;
		margin: 0.3em 0 0.3em;
	}
	.nav {
		float: none;
		text-align:center;
	}
	.bannerlogo {
		float: none;
		margin-top: 0em;
		text-align: center;
	}
	.skill-grid h3 {
		font-size: 1.5em;
	}
	.up {
		bottom: 1%;
		left: 47%;
	}
	.bannerhead h2 {
		font-size: 1.8em;
	}
	.Portfolio-section h2 {
		font-size: 1.6em;
		padding: 1em 0 0.3em;
	}
	.footer-right input[type="submit"] {
		float: none;
		width:100%
	}
}
